body{
    display: flex;
    justify-content: center;
    height: 90vh;
    align-items: center;
    background-color: #12B0E8;
}

.container{
    background-color: white;
    padding: 70px;
    border-radius: 20px;
}

h1{
    text-align: center;
    color: #2827CC;
}

hr{
    margin-bottom: 40px;
}

input{
    width: 100%;
    margin-bottom: 20px;
    height: 30px;
    border-radius: 5px;
    border-width: 1;
    border-color: black;
    padding-left: 10px;
}

.button{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

button{
    height: 35px;
    border-width: 2px;
    border-radius: 5px;
    border-color: transparent;
    background-color: #12B0E8;
    width: 180px;
    font-weight: bold;
    margin-left: 20px;
}

h2{
    text-align: center;
}

p{
    text-align: center;
}